<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask avec Docker</title>
</head>
<body>
    <h1>Il s'agit d'une application Flask conteneurisée avec Docker.</h1>
    <p>Ce petit site web le résultat de l'article : "Construire et déployer une application Flask à l'aide de Docker". Vous pouvez le consulter sur <a href="https://www.kilukru.dev/construire-et-deployer-une-application-flask-a-laide-de-docker/" target="_blank">https://www.kilukru.dev</a></p>

    <p>Par <a href="https://www.AlfredDagenais.com" target="_blank">Alfred Dagenais.com</a> - 2022</p>
</body>
</html>